@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Catamaran:400,700,500);

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}


body, input, #mc-embedded-subscribe {
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
}

section.table-setup .table .row:first-child, section.table-setup .table .row > p:first-child {
  font-family: 'Catamaran', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 67px;
  line-height: 67px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
}

h2 {
  font-size: 37px;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 21px;
  }
}

h4 {
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  h4 {
    font-size: 16px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

input, button {
  font-size: 21px;
  text-decoration: none;
}

body {
  /*background-image: -webkit-linear-gradient(top, #eeeeee 0%, #CCE9F8 100%);*/
  /*background-image: linear-gradient(to bottom, #eeeeee 0%, #CCE9F8 100%);*/
  background: #2e3a40;
  overflow: hidden;
  color: #80CBC4;
}

* {
  -webkit-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

div.outer-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
div.outer-container::after {
  clear: both;
  content: "";
  display: table;
}
div.outer-container > * {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 100%;
}
div.outer-container > *:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  div.outer-container > *.header, div.outer-container > *.footer {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
  }
  div.outer-container > *.header:last-child, div.outer-container > *.footer:last-child {
    margin-right: 0;
  }
}
div.outer-container > *.header.header, div.outer-container > *.footer.header {
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}
@media screen and (max-width: 768px) {
  div.outer-container > *.header.header, div.outer-container > *.footer.header {
    padding-top: 10vh;
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
  }
  div.outer-container > *.header.header:last-child, div.outer-container > *.footer.header:last-child {
    margin-right: 0;
  }
}
div.outer-container > *.header.header > div:first-child, div.outer-container > *.footer.header > div:first-child {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 38.46154%;
}
div.outer-container > *.header.header > div:first-child:last-child, div.outer-container > *.footer.header > div:first-child:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  div.outer-container > *.header.header > div:first-child, div.outer-container > *.footer.header > div:first-child {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
  }
  div.outer-container > *.header.header > div:first-child:last-child, div.outer-container > *.footer.header > div:first-child:last-child {
    margin-right: 0;
  }
}
div.outer-container > *.header.header > div:first-child h1 > div, div.outer-container > *.footer.header > div:first-child h1 > div {
  overflow: hidden;
}
div.outer-container > *.header.header > div:first-child h1 > div:first-child > div{
  -webkit-animation: slideup 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-animation: slideup 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  animation: slideup 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
div.outer-container > *.header.header > div:first-child h1 > div:last-child > div{
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation: slidedownSelect 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-animation: slidedownSelect 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  animation: slidedownSelect 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

div.outer-container > *.header.header > div:first-child h1 > div:nth-child(2) > div{
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-animation: slidedown 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -moz-animation: slidedown 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  animation: slidedown 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes slideup {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes slideup {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0%);
  }
}
@keyframes slideup {
  from {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@-webkit-keyframes slidedown {
  from {
    -webkit-transform: translateY(-100%) translateX(50px);
  }
  to {
    -webkit-transform: translateY(0%) translateX(50px);
  }
}
@-moz-keyframes slidedown {
  from {
    -moz-transform: translateY(-100%) translateX(50px);
  }
  to {
    -moz-transform: translateY(0%) translateX(50px);
  }
}
@keyframes slidedown {
  from {
    -webkit-transform: translateY(-100%) translateX(50px);
    -moz-transform: translateY(-100%) translateX(50px);
    -ms-transform: translateY(-100%) translateX(50px);
    -o-transform: translateY(-100%) translateX(50px);
    transform: translateY(-100%) translateX(50px);
  }
  to {
    -webkit-transform: translateY(0%) translateX(50px);
    -moz-transform: translateY(0%) translateX(50px);
    -ms-transform: translateY(0%) translateX(50px);
    -o-transform: translateY(0%) translateX(50px);
    transform: translateY(0%) translateX(50px);
  }
}

@-webkit-keyframes slidedownSelect {
  from {
    -webkit-transform: translateY(-100%) translateX(100px);
  }
  to {
    -webkit-transform: translateY(0%) translateX(100px);
  }
}
@-moz-keyframes slidedownSelect {
  from {
    -moz-transform: translateY(-100%) translateX(100px);
  }
  to {
    -moz-transform: translateY(0%) translateX(100px);
  }
}
@keyframes slidedownSelect {
  from {
    -webkit-transform: translateY(-100%) translateX(100px);
    -moz-transform: translateY(-100%) translateX(100px);
    -ms-transform: translateY(-100%) translateX(100px);
    -o-transform: translateY(-100%) translateX(100px);
    transform: translateY(-100%) translateX(100px);
  }
  to {
    -webkit-transform: translateY(0%) translateX(100px);
    -moz-transform: translateY(0%) translateX(100px);
    -ms-transform: translateY(0%) translateX(100px);
    -o-transform: translateY(0%) translateX(100px);
    transform: translateY(0%) translateX(100px);
  }
}
div.outer-container > *.header.header > div:last-child, div.outer-container > *.footer.header > div:last-child {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 58.97436%;
  position: relative;
}
div.outer-container > *.header.header > div:last-child:last-child, div.outer-container > *.footer.header > div:last-child:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  div.outer-container > *.header.header > div:last-child, div.outer-container > *.footer.header > div:last-child {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
  }
  div.outer-container > *.header.header > div:last-child:last-child, div.outer-container > *.footer.header > div:last-child:last-child {
    margin-right: 0;
  }
}
div.outer-container > *.header.footer, div.outer-container > *.footer.footer {
  min-height: 50vh;
  padding-top: 20vh;
}
div.outer-container > *.header.footer > div:first-child, div.outer-container > *.footer.footer > div:first-child {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%;
}
div.outer-container > *.header.footer > div:first-child:last-child, div.outer-container > *.footer.footer > div:first-child:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  div.outer-container > *.header.footer > div:first-child, div.outer-container > *.footer.footer > div:first-child {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
  }
  div.outer-container > *.header.footer > div:first-child:last-child, div.outer-container > *.footer.footer > div:first-child:last-child {
    margin-right: 0;
  }
}
div.outer-container > *.header.footer > div:first-child input, div.outer-container > *.header.footer > div:first-child button, div.outer-container > *.footer.footer > div:first-child input, div.outer-container > *.footer.footer > div:first-child button {
  width: 75%;
  text-align: left;
  padding: 0;
  margin-top: 16px;
  padding-bottom: 4px;
  decoration: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #282828;
}
div.outer-container > *.header.footer > div:first-child input::-webkit-input-placeholder, div.outer-container > *.header.footer > div:first-child button::-webkit-input-placeholder, div.outer-container > *.footer.footer > div:first-child input::-webkit-input-placeholder, div.outer-container > *.footer.footer > div:first-child button::-webkit-input-placeholder {
  color: rgba(40, 40, 40, 0.25);
}
div.outer-container > *.header.footer > div:first-child input::-moz-placeholder, div.outer-container > *.header.footer > div:first-child button::-moz-placeholder, div.outer-container > *.footer.footer > div:first-child input::-moz-placeholder, div.outer-container > *.footer.footer > div:first-child button::-moz-placeholder {
  color: rgba(40, 40, 40, 0.25);
}
div.outer-container > *.header.footer > div:first-child input:-moz-placeholder, div.outer-container > *.header.footer > div:first-child button:-moz-placeholder, div.outer-container > *.footer.footer > div:first-child input:-moz-placeholder, div.outer-container > *.footer.footer > div:first-child button:-moz-placeholder {
  color: rgba(40, 40, 40, 0.25);
}
div.outer-container > *.header.footer > div:first-child input:-ms-input-placeholder, div.outer-container > *.header.footer > div:first-child button:-ms-input-placeholder, div.outer-container > *.footer.footer > div:first-child input:-ms-input-placeholder, div.outer-container > *.footer.footer > div:first-child button:-ms-input-placeholder {
  color: rgba(40, 40, 40, 0.25);
}
div.outer-container > *.header.footer > div:first-child button, div.outer-container > *.footer.footer > div:first-child button {
  border: 0;
}
div.outer-container > *.header.footer > div:last-child, div.outer-container > *.footer.footer > div:last-child {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%;
}
div.outer-container > *.header.footer > div:last-child:last-child, div.outer-container > *.footer.footer > div:last-child:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  div.outer-container > *.header.footer > div:last-child, div.outer-container > *.footer.footer > div:last-child {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
  }
  div.outer-container > *.header.footer > div:last-child:last-child, div.outer-container > *.footer.footer > div:last-child:last-child {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  div.outer-container > *.header > div:last-child, div.outer-container > *.footer > div:last-child {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
  }
  div.outer-container > *.header > div:last-child:last-child, div.outer-container > *.footer > div:last-child:last-child {
    margin-right: 0;
  }
}
div.outer-container > *.table-setup .table {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 100%;
}
div.outer-container > *.table-setup .table:last-child {
  margin-right: 0;
}
div.outer-container > *.table-setup .table .row {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 100%;
  text-align: left;
  border-top: 1px solid rgba(40, 40, 40, 0.05);
}
div.outer-container > *.table-setup .table .row:last-child {
  margin-right: 0;
}
div.outer-container > *.table-setup .table .row:first-child {
  border-bottom: 2px solid #282828;
}
@media screen and (max-width: 768px) {
  div.outer-container > *.table-setup .table .row:first-child {
    display: none;
  }
}

div.outer-container > *.table-setup .table .row > p {
  float: left;
  display: block;
  margin-right: 2.5641%;
  width: 48.71795%;
}
div.outer-container > *.table-setup .table .row > p:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  div.outer-container > *.table-setup .table .row > p {
    float: left;
    display: block;
    margin-right: 2.5641%;
    width: 100%;
  }
  div.outer-container > *.table-setup .table .row > p:last-child {
    margin-right: 0;
  }
}

.selection {
    /*color: rgba(0, 0, 0, 0);*/
}

::selection{
    background-color: transparent;
    user-select: none;
}
.cross{
    position: absolute;
    top: 0;
    letter-spacing: -3px;
    left: 0;
    color: rgba(0, 0, 0, 0);
}
.cross::selection{
    color: #2E2F30;
    background-color: transparent;
}

i ~ .selection{
  content: "\f177" !important;
}

.fa-long-arrow-left:before {
    content: " " !important;
}

.confidential{
  color: #282828;
  background-color: #282828;
  padding: 2px;
}

h1.tag:before {
    content: '<h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #7b7b7c;
    font-size: 18px;
    position: absolute;
    font-weight: normal;
    margin-top: -45px;
    left:-20px;
}
h1.tag:after {
    content: '</h1>';
    font-family: 'La Belle Aurore', cursive;
    color: #7b7b7c;
    font-size: 18px;
    position: absolute;
    left:-40px;
    bottom:-45px;
    font-weight: normal;
    margin-left: 20px;
}

.tags {
    color: #7b7b7c;
    position: absolute;
    bottom: 0;
    left: 25px;
    font-size: 18px;
    font-family: 'La Belle Aurore',cursive
}

.top-tags {
    bottom: auto;
    top: 25px;
    left: 25px;
}

